body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    background-color: #fafafa;
}

ul {
    padding: 0;
    list-style: none
}

h2 {
    font-size: 24px;
    font-weight: 400;
    line-height: 28.8px;
}

a {
    color: #251004;
}

a:hover {
    color: #452109;
}

/*Navbar*/
.navbar-brand:hover {
    color: #d4d4d4 !important;
}

.navbar-brand {
    color: #f5f5f5 !important;
}

.navbar {
    background-color: #170b06;
    border: none;
    position: fixed;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
    z-index: 10;
    top: 0;
}

.navbar button, .navbar button:focus {
    border: none;
    outline: none;
}

.navbar .collapse {
    width: 100%;
    left: 0;
    top: 70px;
}

.navbar a {
    color: #f5f5f5 !important;
    margin-left: 10px;
}

.navbar-brand .logo {
    height: 45px;
}

.navbar a:hover {
    text-decoration: none;
}

.navbar .contact {
    margin-top: 15px;
}

.nav-but {
    float: left;
    margin-left: 30px;
    background: none;
    border: none;
}

.navbar .location {
    color: #e1e1e1;
    cursor: default;
}

/*End navbar*/

/*Menu*/
.menu {
    top: 10px;
    background: none;
}

.menu .container {
    justify-content: flex-end;
}

.menu ul {
    height: 30%;
    background: #0000006b;
    margin-top: 15px;
    padding-top: 5px;
}

.menu .collapsing {
    display: none;
}

/*End menu*/

/*Header*/
header {
    background-size: cover;
}

.right-block {
    padding: 30px;
    height: 100%;
}

.right-block a {
    margin-top: 0;
}

.call {
    margin: auto 0;
}

.call li {
    font-size: 18px;
}

header h1 {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    cursor: default;
}

.green {
    color: #bbd648;
}

header .bg {
    background-image: url("/images/header/bg-header.png");
    background-size: cover;
    min-height: 100vh;
    color: #f5f5f5;
    display: flex;
    flex-direction: column;
}

header .bg .logo {
    margin: 150px auto 100px;
    width: 380px;
    height: 240px;
}

.center-block {
    margin-left: 25%;
    width: 50%;
}

header h3 {
    margin: 0 10px;
    padding: 5px;
}

header a {
    margin-top: 30px;
    color: #e1e1e1;
}

header a:hover {
    color: #f5f5f5;
}

/*End header*/

/*Post*/
.post {
    width: 250px;
    display: flex;
    margin: 40px;
    flex-direction: column;
}

.post-img {
    background-size: cover;
    height: 80vh;
    width: 100%;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
}

.post-img h1 {
    color: #fafafa;
    padding: 10px;
    background-color: rgba(23, 11, 6, 0.8);
    margin: 0 30px;
}

.posts img {
    height: 250px;
    width: 100%;
    max-width: 250px;
}

.post a {
    position: absolute;
    width: 250px;
    font-size: 20px;
    color: #f5f5f5;
    padding: 5px;
    background-color: rgba(0, 0, 0, .3);
    line-height: 2;
}

.posts .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.posts .title h1 {
    letter-spacing: 8px;
    font-size: 22px;
    color: #281b15;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(23, 11, 6, 0.15);
}

.post-image {
    margin-bottom: 30px;
    padding-top: 250px;
    height: 380px;
    background-size: cover;
}

.post-image a {
    font-size: 20px;
    color: #f5f5f5;
    padding: 5px;
    background-color: rgba(0, 0, 0, .3);
    line-height: 2;
}

/*End post*/

/*Portfolio*/
.portfolio img {
    margin-bottom: 30px;
    max-height: 720px;
}

.portfolio {
    text-align: center;
    margin-bottom: 30px;
}

/*Service*/
.services .title h1 {
    letter-spacing: 8px;
    text-align: center;
    font-size: 22px;
    color: #281b15;
    border-bottom: 1px solid rgba(23, 11, 6, 0.15);
    padding-bottom: 5px;
}

.service {
    display: flex;
    flex-direction: column;
    padding: 30px;
    box-shadow: 1px 1px 2px 0 rgba(23, 11, 6, 0.15);
    margin-bottom: 20px;
    border-radius: 5px;
}

.service .title {
    margin: 10px 0;
}

.service .title h1 {
    letter-spacing: normal;
    text-align: left;
    border: none;
}

.service .title a {
    font-size: 20px;
    color: #281b15;
    font-weight: 600;
}

.service .content {
    margin-top: 0;
    display: flex;
}

.service .content .text ol {
    padding-left: 0;
}

.service .content .text {
    color: #464a4e;
    margin-left: 30px;
}

.service .content img {
    width: 100%;
    height: 100%;
    max-width: 300px;
    max-height: 300px;
    margin: 0 auto;
}

/*End service*/

/*Contact*/
.contacts {
    padding: 30px;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 400px);;
    justify-content: space-between;
}

.contacts .data {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.contacts #map {
    width: auto;
    height: 90%;
    margin: 0 auto;
}

.contacts .map {
    height: 300px;
    width: 100%;
}

/*End contact*/

/*Price*/
.price {
    margin-top: 40px;
}

.price-item{
    display: flex;
    justify-content: space-between;
}

/*End price*/

/*Call action*/
.call-action {
    background-image: linear-gradient(90deg, #201210, #3a2111);
    height: 400px;
    color: #f5f5f5;
    text-align: center;
}

.call-action .container {
    padding-top: 50px;
}

.call-action .img {
    height: 100%;
    background-image: url("/images/header/bg-footer.png");
    background-size: cover;
}

.call-action a {
    color: #e1e1e1;
}

.call-action a:hover {
    color: #f5f5f5;

}

.call-action .action {
    float: right;
    max-width: 380px;
    background-color: rgba(0, 0, 0, .5);
    padding: 20px;
}

.call-action li {
    font-size: 18px;
    font-weight: bold;
}

.call-action form input {
    width: 250px;
    margin: 0 auto;
}

.call-action form button {
    margin-top: 10px;
    width: 250px;
}

.call-action .logo {
    height: 100px;
}

/*End call action*/

/*Footer*/
footer {
    color: #e1e1e1;
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #170b06;
    border: none;
    padding: 5px 20px;
    text-align: center;
}

footer a {
    font-size: 16px;
    color: #f5f5f5;
}

footer ul {
    margin: 0 auto;
}

footer a:hover {
    color: #f5f5f5;
}

footer p {
    margin: 0 auto;
}

/*End footer*/

/*Login*/
.login-register-form {
    margin: 100px auto 270px;
    width: 400px;
    padding: 50px;
    background-color: rgba(0, 0, 0, .2);
}

.login-register-form form {
    width: 300px;
}

.login-register-form h1 {
    margin-bottom: 20px;
    text-align: center;
}

.login-register-form input {
    font-size: 12px;
    background: none;
    border: none;
    border-bottom: 1px solid #fff;
    width: 100%;
}

.login-register-form p {
}

.login-register-form label {
    font-size: 12px;
    clear: both;
    display: block;
    margin-bottom: 20px;
}

.login-register-form button {
    margin-top: 30px;
    width: 300px;
}

.login-register-form a {
    width: 148px;
    margin-bottom: 10px;
    color: #e1e1e1;
    text-decoration: underline;
    opacity: .5;
}

.login-register-form a:hover {
    opacity: 1;
}

.label-hidden {
    display: none;
}

.login-register-form .or {
    margin: 15px 0;
    text-align: center;
}

.login-register-form small {
    color: #e1e1e1;
    padding-top: 10px;
    opacity: .8;
}

/*Shared*/
.showcase {
    margin: 0 auto;
    max-width: 1110px;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.img-fluid {
    max-height: 100vh;
    width: auto;
}

.hidden {
    display: none;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.clearfix {
    clear: both;
}

.main-container {
    padding-top: 40px;
    /*min-height: 100vh;*/
}

.content {
    margin-top: 50px;
}

.m-b-30 {
    margin-bottom: 30px;
}

/*End shared*/

/*Media*/
@media (max-width: 1045px) {
    .post {
        width: 300px;
    }

    .post a {
        width: 300px;
    }

    .posts img {
        height: 300px;
        max-width: 300px;
    }

    .center-block {
        margin-left: 0;
        width: 100%;
    }

    .main-container {
        margin-top: 0;
    }

    .call {
        margin-top: 0;
    }

    .call ul {
        background: none;
        border: none;
    }
}

@media (max-width: 780px) {
    .post {
        width: auto;
        margin-bottom: 80px;
    }

    .post a {
        top: 100px;
        margin: 0 auto;
        width: auto;
        position: relative;
    }

    .post img {
        height: auto;
        width: 100%;
        max-width: none;
        margin-bottom: -60px;
    }

    .location {
        display: none;
    }

    .service .content {
        flex-wrap: wrap;
    }

    .service .content img {
        max-height: 100%;
        max-width: 100%;
    }

    .call-action .action {
        margin: 0 auto;
    }
}

@media (max-width: 560px) {
    header .bg .logo {
        width: 190px;
        height: 120px;
        margin: 100px auto;
    }

    .service .content .text {
        padding-top: 10px;
        margin: 0;
    }

    .call-action .action {
        background-color: rgba(23, 11, 6, 0.5);
        float: none;
        width: auto;
    }
}

@media (max-width: 390px) {
    .navbar .phone {
        display: none;
    }

    .bg .logo {
        margin: 25px auto;
    }

    .main-container {
        margin-top: 0;
    }

    .call-action form input {
        width: 200px;
    }

    .call-action form button {
        width: 200px;
    }

    #modal {
        right: 0;
        left: 0 !important;
        padding: 15px;
    }
}

#modal {
    background-color: #170b06;
    z-index: 100;
    position: absolute;
    left: calc(50% - 190px);
    top: 0;
}

.action span {
    position: absolute;
    right: 20px;
    color: #fff;
    top: 10px;
}