body {
    font-family: 'Open Sans', sans-serif;
    color: #000;
    font-size: 14px;
}
.m-b-30{
    margin-bottom: 30px;
}
.navbar-brand {
    color: #f5f5f5 !important;
}

.content {
    margin-top: 50px;
}

.clearfix {
    clear: both;
}

.navbar-brand:hover {
    color: #d4d4d4 !important;
}

.navbar {
    background-color: rgba(24, 50, 87, 0.73);
    border: none;
}

.navbar a {
    color: #f5f5f5 !important;
    margin-left: 10px;
}

.navbar a:hover {
    text-decoration: none;
}

.navbar .contact {
    margin-top: 15px;
}

.nav-but {
    float: left;
    margin-left: 30px;
    background: none;
    border: none;
}

header {
    background-image: url("/images/upload/header-bg.jpg");
    background-size: cover;
    max-height: 854px;
}

header h1 {
    color: #183257;
    font-size: 40px;
    padding-top: 80px;
}

header h3 {
    margin: 0 10px;
    padding: 5px;
    background-color: rgba(0, 0, 0, .3);
}

header a {
    margin-top: 30px;
}

.post-image {
    margin-bottom: 30px;
    padding-top: 300px;
    height: 380px;
    background-size: cover;
}

.post-image a {
    font-size: 20px;
    color: #f5f5f5;
    padding: 5px;
    background-color: rgba(0, 0, 0, .3);
}

.post {
    margin: 30px;
}

.portfolio img {
    margin-bottom: 30px;
    max-height: 720px;
}

.portfolio {
    margin-bottom: 30px;
}

.service {
    margin: 30px 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #d4d4d4;
}
.service-image h2 {
    text-align: center;
    color: #f5f5f5;
    background-color: rgba(0, 0, 0, 0.6);
}

.title {
    font-size: 24px;
    font-weight: bold;
    padding: 5px;
    margin: 30px;
}

.call-action {
    background-image: url("/images/upload/footer-bg.jpg");
    background-size: cover;
    height: 300px;
    color: #f5f5f5;
    margin-bottom: 30px;
}

.call-action h2 {
    font-size: 24px;
    text-align: center;
    padding-top: 30px;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: rgba(24, 50, 87, 0.73);
    border: none;
    padding: 5px 20px;
}

footer a{
    font-size: 16px;
    color: #f5f5f5;
}
footer a:hover{
    color: #f5f5f5;
}